.page__image{
    width: 500px;
    height: 25rem;
    object-fit:cover;
    margin:auto;
}
.page__body{
    border-radius: 2px;
    box-shadow: 0 5px 5px black;
    max-width: 500px;
    margin: auto;
    text-align: center;
}
