body{
    font-family: ‘Changa’, sans-serif;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'PT Sans', sans-serif;
      }

    .home-edits{
      width:100%;
      padding: 0;
      margin:0;
    }
      
      .home,
      .services,
      .products,
      .sign-up {
        display: flex;
        height: 90vh;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
      }
      
     
      .div-main{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .switch-integration{
      float:right !important;
    }
    /* .MuiGrid-root {
      display: flex;
      align-items: center; 
      justify-content: center;
  }

  .MuiPaper-root {
    padding:5px 20px;
    margin:0 5px;
} */

.Root-container-2{
  height:66vh !important;
}


.OverlayBase-fullSize-17, .OverlayBase-fullSize-19  {
    width: 80%;
    max-width: 700px;
    height: 100%;
}

.meal-planner-class{
  margin-top:15px;
}

[list]::-webkit-calendar-picker-indicator{
  opacity: 0;
}

.MuiButton-outlinedPrimary{
  margin-left:5px !important;
}

.recipe-list{
  list-style-type: none;
}
.btn-red{
  background-color:#C90F03 !important;
  border-color:  #C90F03!important;
  color:white !important;
}
.text-red{
  color:  #C90F03!important;
  text-decoration:none !important;
}

.text-link{
  text-decoration:none !important;
  color:black!important;
}

.MuiButton-label a{
  color:  #C90F03!important;
}



.card-deck{
  margin-top: 10px;
  margin-left: auto;
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)) !important;
  grid-gap: .5rem;
}
.SendBtn{
  color:white !important;
  background-color: #C90F03 !important;
  border:none !important;
}

.smi-text{
  margin-left:10px;
  float:right;
  width:110px;
}

.allerg{
  width:150px;
  margin:0 30px!important;
}

.no-click{
  cursor:default!important;
}

.right-align{
  float:right!important;
  margin-bottom:10px;
}

.btnpadd{
  margin:10px 0;
}

.card-margin{
  margin: 0 20px!important;
}

.title-dash{
  text-transform: uppercase!important;
  margin-top:20px;
}

.Btn-Margin{
  margin-top: 10px !important;
}

.cancel-btn-recipe{
  padding:0px!important;
  margin-right:14px!important;
}
.row1{
  margin-top:0!important;
}


.title-add{
  margin-bottom:0!important;
  margin-top:50px!important;
}

.right-btn{
  float:right;
}

#addItem{
  display: inline-block;
  margin-right:10px;
}

.form-centered{
  display: flex;
  justify-content: center;
}

.btn-margin{
  height:40px;
  margin-top:30px !important;
}

.del-btn-width{
  padding:0!important;
}

.text-align-vertical{
  vertical-align: baseline!important;
  margin-top:2px;
}

.padding-0{
  padding:2px!important;
  margin-left:10px;
}

.red-padded{
  background-color:#C90F03 !important;
  color:white !important;
  border-radius:1rem;
  margin:20px 10px 0 10px!important;
}

.delete-color{
  color:white!important;
  background-color: transparent !important;
  border:none!important;
  margin-left:10px;
}


.black-cancel{
  color: black!important;
  background-color:  white!important;
}

.red-icon{
  color: #C90F03!important;
  background-color:  transparent!important;
}
.padding-less{
  padding:0!important;
}

.border-bottom-red{
  border-bottom: 3px solid #C90F03!important;
}

.shopping-box{
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
cursor:default!important;
}

.display-block{
  display:inline-block!important;
}

.social-margin{
  margin:0 10px;
}

.inline-grid{
  display:flex;
}

.padding-allergens{
  padding-left:0px!important;
  padding-right:0px!important;
}

.paper-image{
  margin:20px auto;
  max-width:400px;
  min-width:300px;
  text-align: center;
  height:60px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px !important;
}

.discard-up:hover{
  color:white;
}

.same-line-components{
  display:flex!important;
  justify-content: center;
}

.uppercase-text{
  text-transform:uppercase;
}

.size-list{
  width:fit-content!important;
  max-width:400px;
}

#border-img { 
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(images/border.png) 30 stretch;
  width:fit-content;
}

.col-border{
  border: 2px dashed #C90F03;
  margin: 0 6px!important;
  padding:20px 0 ;
}

.width-fix{
  max-width:200px;
}