body{
    font-family: ‘Changa’, sans-serif;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'PT Sans', sans-serif;
      }

    .home-edits{
      width:100%;
      padding: 0;
      margin:0;
    }
      
      .home,
      .services,
      .products,
      .sign-up {
        display: flex;
        height: 90vh;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
      }
      
     
      .div-main{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .switch-integration{
      float:right !important;
    }
    /* .MuiGrid-root {
      display: flex;
      align-items: center; 
      justify-content: center;
  }

  .MuiPaper-root {
    padding:5px 20px;
    margin:0 5px;
} */

.Root-container-2{
  height:66vh !important;
}


.OverlayBase-fullSize-17, .OverlayBase-fullSize-19  {
    width: 80%;
    max-width: 700px;
    height: 100%;
}

.meal-planner-class{
  margin-top:15px;
}

[list]::-webkit-calendar-picker-indicator{
  opacity: 0;
}

.MuiButton-outlinedPrimary{
  margin-left:5px !important;
}

.recipe-list{
  list-style-type: none;
}
.btn-red{
  background-color:#C90F03 !important;
  border-color:  #C90F03!important;
}
.text-red{
  color:  #C90F03!important;
  text-decoration:none !important;
}

.MuiButton-label{
  /* color:  #C90F03!important; */
}

.MuiButton-label a{
  color:  #C90F03!important;
}

.card-deck{
  margin-top: 10px;
  margin-left: auto;
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)) !important;
  grid-gap: .5rem;
}
.SendBtn{
  color:white !important;
  background-color: #C90F03 !important;
  border:none !important;
}

.smi-text{
  margin-left:10px;
  float:right;
  width:110px;
}

.allerg{
  width:150px;
  margin:0 30px!important;
}

.no-click{
  cursor:pointer!important;
}

.right-align{
  float:right!important;
  margin-bottom:10px;
}

.btnpadd{
  margin:10px 0;
}

.card-margin{
  margin: 0 20px!important;
}

.title-dash{
  text-transform: uppercase!important;
  margin-top:20px;
}

.Btn-Margin{
  margin-top: 10px !important;
}

.row1{
  margin-top:0!important;
}


.title-add{
  margin-bottom:0!important;
  margin-top:50px!important;
}

.right-btn{
  float:right;
}